@charset "utf-8";

@use "../../foundation" as f;

.c-broken {
    &1 {
        position: relative;
        background-color: f.$bg-color2;
        &_wrapper {
            @media (max-width: 767px) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }
        &_pic {
            position: relative;
            float: right;
            top: -4.5rem;
        }
    }
}
