@charset "utf-8";

@use "../../foundation" as f;

.c-broken {
    &1 {
        position: relative;
        background-color: f.$bg-color2;
        &_wrapper {
            @media (max-width: 767px) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }
        &_pic {
            position: relative;
            float: right;
            top: -4.5rem;
        }
        &_box {
            h2 {
                @include f.maruFont();
            }
        }
    }
    &2 {
        position: relative;
        z-index: 1;
        &_bgimg {
            position: absolute;
            right: 0;
            bottom: 0;
            overflow: hidden;
            z-index: -1;
            height: 80%;
            @media (max-width: 767px) {
                width: 90%;
            }
            @media (min-width: 768px) {
                width: 80%;
            }
            &::after {
                content: "";
                display: block;
                background: {
                    image: url("https://source.unsplash.com/Mzy-OjtCI70/1920x1080");
                    position: bottom right;
                    repeat: no-repeat;
                    size: cover;
                    attachment: scroll;
                }
                padding-top: 100%;
            }
        }
        &_box {
            background-color: f.$bg-color;
            max-width: 40%;
            h2 {
                @include f.maruFont();
            }
        }
    }
}
