@charset "utf-8";

@use "../../foundation" as f;
@use "sass:math";

.c-broken {
    /* ブロークン1 */
    /* 画像を上に持ち上げる */
    &1 {
        position: relative;
        background-color: f.$bg-color2;
        &_wrapper {
            @media (max-width: 767px) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }
        &_pic {
            position: relative;
            float: right;
            top: -4.5rem;
        }
        &_box {
            h2 {
                @include f.maruFont();
            }
        }
    }
    /* ブロークン2 */
    /* 背景画像とコンテナを重ねる */
    &2 {
        position: relative;
        z-index: 1;
        &_bgimg {
            position: absolute;
            right: 0;
            bottom: 0;
            overflow: hidden;
            z-index: -1;
            height: 80%;
            @media (max-width: 767px) {
                width: 85%;
                &::after {
                    background-image: url("https://source.unsplash.com/oXfOK1ymtPU/720x1280");
                    height: 100vh;
                }
            }
            @media (min-width: 768px) {
                width: 80%;
                &::after {
                    background-image: url("https://source.unsplash.com/oXfOK1ymtPU/1920x1080");
                    height: 50vh;
                }
            }
            &::after {
                content: "";
                display: block;
                background: {
                    position: center center;
                    repeat: no-repeat;
                    size: cover;
                    attachment: scroll;
                }
            }
        }
        &_box {
            background-color: f.$bg-color;
            max-width: 40%;
            h2 {
                @include f.maruFont();
            }
        }
    }
    /* ブロークン3 */
    /* 背景色が突き抜ける */
    &3 {
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 80vh;
            background-color: f.$bg-color2;
            z-index: -1;
            /* アイキャッチの .container の調整と同じ技法。ただし、2で割っただけではグリッドのガイドラインに合致してしまうため、その後に1より大きな数 $ratio でさらに割ることで右から押し込まれる位置を調整することでグリッドのガイドラインを崩す */
            $ratio: math.div(3, 2);
            @media (max-width: 575px) {
                right: calc(15px / $ratio);
            }
            @media (min-width: 576px) and (max-width: 767px) {
                right: calc((100vw - 540px) / 2 / $ratio);
            }
            @media (min-width: 768px) and (max-width: 991px) {
                right: calc((100vw - 720px) / 2 / $ratio);
            }
            @media (min-width: 992px) and (max-width: 1199px) {
                right: calc((100vw - 960px) / 2 / $ratio);
            }
            @media (min-width: 1200px) and (max-width: 1399px) {
                right: calc((100vw - 1140px) / 2 / $ratio);
            }
            @media (min-width: 1400px) {
                right: calc((100vw - 1320px) / 2 / $ratio);
            }
        }
    }
}
